{% extends 'email/email_base.html' %}

{% block body %}
<h1>Forgot your password?</h1>
<p>
  {{SITE_NAME}} received a request to reset the password
  for your {{SITE_NAME}} account ({{user.username}}).
  If you want to reset your password, click on the link below
  (or copy and paste the URL into your browser):<br/>
  {{link}}
</p>
<p>
  If you don't want to reset your password, please ignore
  this message. Your password will not be reset. If you have
  any concerns, please contact us.
</p>
<p>
  thanks,<br/>
  <span style="color:#888">{{SITE_NAME}}</span>
</p>
{% endblock %}