{% extends 'base_singlesmall.html' %}
{% load avatar %}

{% block content %}
<div class="avatar span">
  <a href="{{user.url}}"><img src='{{user.extra.avatar|avatar:"s"}}' alt="{{user.username}}"/></a>
</div>
<div class="user-info span last">
  <dl>
    <dt>Username</dt>
      <dd>{{user.username}}</dd>
    <dt>First name</dt>
      <dd>{{user.first_name}}</dd>
    <dt>Last Name</dt>
      <dd>{{user.last_name}}</dd>
    <dt>Roles</dt>
      <dd>{{user.roles}}</dd>
  </dl>
</div>
{% endblock %}