{% extends 'content.html' %}
{% load i18n %}

{% block beforecontentzone %}
  <p class="date">Posted on {{content.created_at|date:"F j, Y"}} by {{content.owner}}</p>
{% endblock %}

{% block contentdescription %}
    {% autoescape off %}
      <div class="plain_description">
        {{content.description}}
      </div>
    {% endautoescape %}
{% endblock %}

{% block contentbody %}
  {% autoescape off %}
    {{content.body}}
  {% endautoescape %}
{% endblock %}

{% block aftercontentbody %}
<div class="content-extras small">
  {% if content.get_category %}
    Category
    <span class="category">
      <a href="{% url post_category content.category %}">{{content.get_category}}</a>
    </span>
  {% endif %}
  {% if content.tags %}
    Tags
    <ul class="tags">
      {% for tag in content.tags %}
      <li class="tag">
        <a href="{% url post_tag tag %}">{{tag}}</a> {% if not forloop.last %}:{% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}