<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head><title>{{subject}}</title>
</head>
<body style="color: #444;">
  <div id="wrapper">
    <div id="container" style="text-align:left;background:#fff; padding:1em 2em;">
      <div id="header" style="margin:0 0 1em">
        <a href="{{DOMAIN}}" style="font-size:2.5em">
          {{SITE_NAME}}
        </a>
      </div>
      <div id="content" style="background:#f8f8f8;padding:1em 2em;margin:0 0 1em;">
        {% block body %}
        {% endblock %}
      </div>
      {% block contentbottom %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
