{% extends "base/layout.html" %}
{% load i18n block %}

{% block shortcut %}
<link rel="shortcut icon" href="{{ THEME_MEDIA_URL }}img/favicon.ico" type="image/gif" />
{% endblock %}

{% block contenttop %}
  <!-- start layout.headerwrapper -->
  <div id="header-blocks" class="container-wrapper clearfix">
    {% block headerlogo %}
      {% include "inc.headerlogo.html" %}
    {% endblock %}

    {% render_blocks "mainmenu" request %}
  </div>
  <!-- end layout.headerwrapper -->
{% endblock  %}

{% block  contentwrapper %}
    <!-- start base.contentwrapper -->
    {% block content %}
    {% endblock %}
    <!-- end base.contentwrapper -->
{% endblock contentwrapper %}


{% block contentbottom %}
{% endblock %}