{% extends 'content_new.html' %}
{% load format %}

{% block bottomscripts %}
  {{ block.super }}
  <!-- Block visibility and menus selection -->
  <script type="text/javascript">
    (function($){
      $('.menus input[type=radio]').click(function(){
        selected = $(this).val();
        if (selected =='all'){
          $('#id_visibility').attr('disabled','disabled')
          $('#id_visibility option').removeAttr('selected');
        } else if ($(this).val()=='none') {
          $('#id_visibility').attr('disabled','disabled')
          $('#id_visibility option').removeAttr('selected');
        } else if ($(this).val()=='select') {
          $('#id_visibility option').attr('selected', 'selected')
          $('#id_visibility').removeAttr('disabled')
        }
      })
    })(jQuery)
  </script>
{% endblock %}