{% extends "block.html" %}
{% load %}

{% block blocktitle %}{% endblock %}

{% block blockbody %}
<ul id="topmenu" class="menu clearfix">
  {% if request.user %}
    <li><a href="{% url users_profile %}">{{request.user.username}}</a></li>
    {% if request.user.is_admin %}
      <li><a href="{% url admin_dashboard %}">Administration</a></li>
    {% endif %}
    <li><a href="{% url users_logout %}">Logout</a></li>
  {% else %}
    <li><a href="{% url users_register %}">Register</a></li>
    <li class="action-login action"><a href="{% url users_login %}">Login</a></li>
  {% endif %}
</ul>
{% endblock %}